/* COLORES PRINCIPALES */
.Logofolio-Vol-1-hex { color: #F2F2F2; }
.Logofolio-Vol-2-hex { color: #BFBFBF; }
.Logofolio-Vol-3-hex { color: #8C8C8C; }
.Logofolio-Vol-4-hex { color: #595959; }
.Logofolio-Vol-5-hex { color: #0D0D0D; }

.Logofolio-Vol-1-rgba { color: rgba(242, 242, 242, 1); }
.Logofolio-Vol-2-rgba { color: rgba(191, 191, 191, 1); }
.Logofolio-Vol-3-rgba { color: rgba(140, 140, 140, 1); }
.Logofolio-Vol-4-rgba { color: rgba(89, 89, 89, 1); }
.Logofolio-Vol-5-rgba { color: rgba(12, 12, 12, 1); }

* {
    font-family: "HelveticaNeueLight", Arial, Helvetica, sans-serif;
    list-style: none;
}

/* NAVBAR */
#navbar {
    background-color: #F2F2F2;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; 
    font-size: 17px;
}

#buscar {
    margin-right: 2%;
}

#ingresar {
    margin-right: 1%;
    background-color: #F2F2F2;
}

#ingresar .dropdown-menu{
    left: auto;
    right: 0;
    background-color: #F2F2F2; 
}

#ingresar .dropdown-item:active {
    background-color: #0D0D0D;
}

#carousel .carousel-item img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 920px;
    max-width: none;
    object-fit: cover;
}

#carousel .carousel-item .container {
    position: relative;
    width: 50%;
}

#carousel .carousel-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: rgba(12, 12, 12, 1);
  }
  
#carousel .carousel-item:hover .overlay {
    opacity: 0.5;
}
  
#carousel .carousel-item .text a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 80px;
    opacity: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  @media(max-width:1000px) {
    #navbar {
        font-size: 20px;
    }

    #carousel .carousel-item img {
        min-height: 400px;
        height: auto;
        max-width: none;
        object-fit: cover;
    }

    #ingresar .dropdown-menu {
        left: auto;
        right: auto;
    }

    #buscar {
        padding: 1%;
    }

    #carousel .carousel-item .text {
        font-size: 32px;
    }
}


/* COLECCIONES*/
#container-col {
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; 
    flex-wrap: wrap;
}
#container-col .card {
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: 0.1;
}

#container-col .card-img-top {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.form-check-input:checked{
    background-color: #0D0D0D !important;
    border: 0;
 }
 .form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem #595959 !important;
 }


